.instructionPageContainer {
  display: flex;
  min-height: 70vh;
  flex-wrap: wrap;

  .instructionPageImage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 200px;
      height: fit-content;
    }
  }

  .instructionPageText {
    width: 50%;
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
    display: grid;
    align-content: center;

    & h3 {
      margin: 20px 0;
    }
    & ul {
      & li {
       list-style-type: none;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 10px 0;
          & img {
            width: 50px;
            margin-right: 20px;
          }
      }
    }
    & button {
      color: #fff;
      font-size: 26px;
      background: #228ae5;
      width: fit-content;
      height: fit-content;
      padding: 10px 20px;
      border-radius: 5px;
      margin-top: 20px;
    }

    & button:hover {
      cursor: pointer;
      background: #5050f3;
    }
  }

  @media screen and (max-width: 768px) {
    .instructionPageImage {
      width: 100%;
    }
    .instructionPageText {
      width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .instructionPageImage {
      & img {
        width: 300px;
      }
    }
  }
  @media screen and (max-width: 320px) {
    .instructionPageImage {
      & img {
        display: none;
      }
    }
  }
}
