.mainPageContainer {
  min-height: 90vh;
  flex-wrap: wrap;

  display: flex;

  .mainPageImage {
    width: 50%;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainPageText {
    width: 50%;
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
    display: grid;
    align-content: center;

    & h1, h2 {
      margin: 20px 0;
    }


    & button {
      color: #fff;
      font-size: 26px;
      background: #6464f3;
      width: fit-content;
      height: fit-content;
      padding: 10px 20px;
      border-radius: 5px;
      margin-top: 20px;
    }

    & button:hover {
      cursor: pointer;
      background: #5050f3;
    }
  }

  @media screen and (max-width: 768px) {
    .mainPageImage {
      width: 100%;
    }
    .mainPageText {
      width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .mainPageImage {
      & img {
        width: 320px;
      }
    }
  }
  @media screen and (max-width: 320px) {
    .mainPageImage {
      display: none;
    }
  }
}