.carouselContainer {
  width: 450px;

 & img {
   width: 450px;
 }

  @media screen and (max-width: 450px) {
    width: 300px;
    & img {
      width: 280px;
    }
  }
  @media screen and (max-width: 300px) {
   display: none;
  }
}