.productContainer {
  display: flex;
  align-items: center;

  .productText {
    width: 50%;
    padding: 30px;
    & h2, h3, p {
      margin: 20px 0;
    }
  }

  .productCarousel {
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
