.productContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .productText {
    width: 50%;
    padding: 30px;

    & h2, h3, p {
      margin: 20px 0;
    }
  }

  .productCarousel {
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 950px) {
    .productText {
      width: 100%;
    }
    .productCarousel {
      width: 100%;
    }
  }
}
