.footerContainer {
  width: 100%;
  min-height: 80px;
  padding: 30px;
  display: flex;
  margin-top: 30px;
  box-shadow: 0 0 15px 1px #efeded;
  flex-wrap: wrap;

  .footerText {
    width: 50%;
    display: flex;

    .footerBlock1 {
      width: 50%;
      display: grid;
      & h3 {
        color: #5e5b5b;
      }

      & a, p, h3 {
        margin: 5px 0;
      }
    }

    .footerBlock2 {
      width: 50%;
      display: grid;
      & h3 {
        color: #5e5b5b;
      }
      & span, h3 {
        margin: 5px 0;
      }
    }


  }

  .footerInfo {
    display: flex;
    justify-content: center;
    width: 50%;

    & span {
      display: flex;
      align-items: center;
      padding: 5px 0;
      margin: 0 20px;

      & img {
        width: 40px;
        margin-right: 10px;
      }
    }
  }

  @media screen and (max-width: 1090px) {
    .footerText {
      width: 100%;
    }
    .footerInfo {
      margin-top: 20px;
      width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .footerText {
      flex-wrap: wrap;
      .footerBlock1 {
        width: 100%;
      }
     .footerBlock2 {
       width: 100%;
     }
    }
    .footerInfo {
      flex-direction: column;
      margin-top: 20px;
      width: 100%;
    }
  }
  @media screen and (max-width: 320px) {
    .instructionPageImage {
      & img {
        display: none;
      }
    }
  }
}